.login-container {
  width: 50%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 16px;

  box-shadow: 0 0 12px rgb(21, 13, 13, 0.1);
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-form button {
  width: 50%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 8px;
}
