.login-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 0 12px rgba(245, 245, 245, 0.8);
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-form button {
  width: 50%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 8px;
}
