.cart-item-container {
  box-shadow: 0 0 12px rgb(21, 13, 13, 0.1);
}
.cart-item-image {
  width: 60px;
  height: 60px;
}
.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.substitute-button {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  line-height: 0 !important;
}
.increment-button {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  line-height: 0 !important;
}
